/*FLEX*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
.botonera {
  background-color: rgb(133, 55, 55);
}
@media only screen and (max-width: 767px) {
  .botonera .navbar-brand img {
    width: 70px;
  }
}
.botonera ul li a {
  color: white;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 1, 6em;
  font-weight: 300;
}
.botonera ul li a:hover {
  color: black;
}

.productos {
  display: flex;
  justify-content: space-between;
}
.productos figure {
  text-align: center;
  width: 30%;
  border-radius: 4px;
  border: solid;
}
.productos figure figcaption {
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: black;
}
.productos figure p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.2rem;
  margin: 10px;
  color: black;
}
.productos figure img {
  width: 100%;
}

h1, h2, h3 {
  padding-top: 20px;
  margin-bottom: 20px;
  color: rgb(36, 35, 35);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.calendario {
  margin: 10px;
  background-color: brown;
}

.display-flex {
  display: flex;
  flex-wrap: wrap;
}

.calendario p {
  color: white;
}

.padding-left {
  padding-left: 15px;
}

.padding-bottom {
  padding-bottom: 15px;
}

h1 {
  font-size: 3em;
}

.text-left {
  text-align: left;
}

.display {
  display: inline-block;
}

.text-center {
  text-align: center;
  width: 100%;
}

.text-right {
  text-align: right;
}

.bg-color {
  background-color: rgb(184, 179, 179);
}

.btn-color {
  background-color: rgb(133, 55, 55);
  color: white;
}

.contenedor {
  width: 100%;
  height: auto;
  padding: auto;
}

.nosotros .desc {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.nosotros .desc img {
  width: 55%;
  min-width: 300px;
}
.nosotros .desc p {
  margin-top: 30px;
  width: 70%;
  min-width: 290px;
}
.nosotros .titulo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nosotros .ejemplos {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.nosotros .ejemplos .barb {
  display: flex;
  flex-basis: 30%;
  min-width: 290px;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  border: 2px;
  border-style: solid;
}
.nosotros .ejemplos .barb img {
  width: 100%;
}

.servicios {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 25px;
  padding: 30px 0;
}
.servicios .prod {
  display: flex;
  justify-content: center;
  margin: 0 8px;
  height: auto;
  flex-wrap: wrap;
  align-items: center;
  border: 3px;
  min-width: 290px;
  border-style: solid;
  border-radius: 10px;
}
.servicios .prod img {
  min-width: 290px;
  width: 30%;
}
.servicios .prod div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
  min-width: 290px;
}

footer {
  background-color: rgb(133, 55, 55);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer svg {
  fill: black;
  width: 30px;
  margin-left: 16px;
}
footer a {
  text-decoration: none;
  color: white;
  display: block;
  margin-right: 20px;
  font-family: "Roboto", sans-serif;
}
footer a:hover {
  color: black;
}

@media (width < 768px) {
  footer {
    flex-direction: column;
  }
  footer svg {
    width: 40px;
  }
  footer a {
    text-align: center;
    padding: 5px;
    margin-right: 0px;
  }
  .servicios {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "uno" "dos" "tres" "cuatro";
    gap: 5px;
  }
  .servicios .prod1 {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .servicios .prod2 {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .servicios .prod3 {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .servicios .prod4 {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .productos {
    flex-wrap: wrap;
  }
  .productos figure {
    width: 100%;
  }
}
main section {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
}
main section p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: rgb(44, 41, 41);
  font-size: 1.2em;
  line-height: 1.3em;
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
