//Footer

footer{
    background-color: rgb(133, 55, 55);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    svg{
        fill: black;
        width: 30px;
        margin-left: 16px;
    }
    a{
        text-decoration: none;
        color: white;
        display: block;
        margin-right: 20px;
        font-family: 'Roboto', sans-serif;
        &:hover{
            color: black;
         }
    }
}
