//Botonera
.botonera{
    background-color: $mainColor;
    .navbar-brand {
        @include screen(mobile){
            img {
                width: 70px;
            }
        }
    }
    ul{
        li{
            a{
                color: white;
                text-decoration: none;
                font-family: $font;
                font-size: 1,6em;
                font-weight: 300;
                &:hover {
                    color: $hoverColor
                }
            }
        }
    }
}

